.cart{
  margin-top: 50px;
}

.cart-items-title{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.cart-items-title p{
  font-size: 10px;
}

.cart-items-item img{
  width: 50px;
  margin: 10px 0;
}

.cart-items hr{
  border: 1px solid #e2e2e2;
}

.remove{
  cursor: pointer;
}

.cart-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-total{
  margin: 30px 0;
  width: 50%;
}

.cart-total hr{
  border: 1px solid #e2e2e2;
}

.cart-total h2{
  color: black;
}

.cart-total-details{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.cart-total-details button{
  border: 0;
  outline: 0;
  background-color: tomato;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-promocode p{
  font-size: 13px;
  margin-bottom: 5px;
}

.cart-promocode input{
  border: 0;
  outline: 0;
  background: #e9e9e9;
  padding: 5px 10px;
}

.cart-promocode button{
  border: 0;
  outline: 0;
  background: #000000;
  padding: 5px 20px;
  color: white;
}

@media (max-width: 440px) {
  .cart-bottom{
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .cart-total{
    width: 100%;
  }
}

