@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.main{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideDown {
  from{
    transform: translateY(-200px) scale(0.1);
  }
  to{
    transform: translateY(0) scale(1);
  }
}